<li class="active"><a href="{% url 'index' %}">Меню <span class="sr-only">(current)</span></a></li>
<li><a href="{% url 'about' %}">О нас</a></li>
<li><a href="{% url 'media:media' %}">Медиа</a></li>
<li><a href="{% url 'vacancy' %}">Вакансии</a></li>
<li><a href="{% url 'questions:questions' %}">Анкета</a></li>
<li><a href="{% url 'documents' %}">Документы</a></li>
<li><a href="{% url 'contacts' %}">Контакты</a></li>
<li><a href="#brand1">Партнеры</a></li>
<li><a href="{% url 'faq' %}">FAQ</a></li>