{% extends 'mainapp/base.html' %}
{% load staticfiles %}

    {% block content %}
        <<div class="contentHeader newProductsHeader">
                    О нас
        </div>
            <div class="containerText">
                Наша компания <strong>ООО "Профи сервис"</strong>
                имеет многолетний опыт работы в организации и обеспечении
                спортивно-массовых мероприятий. Мы имеем в своем составе квалифицированные
                управленческие кадры и подготовленный личный состав. Менеджмент и персонал
                неоднократно получали положительную оценку в работе от правоохранительных
                органов города Москвы, Европейской Федерации Футбола <b>УЕФА</b>. <br> <br>
                Компания постоянно совершенствует уровень и качество своей работы. С этой целью
                производится модернизация материально-технической базы, систематизация учебного
                процесса менеджмента и персонала.<br> <br> Наш головной офис расположен на территории
                Центрального стадиона <b>«Локомотив»</b>. Взаимодействуя на договорной основе по вопросам
                обеспечения спортивно-массовых мероприятий, наша организация является надёжным партнером
                футбольного клуба <b>«Локомотив»</b>. С каждым годом наша компания укрепляет свои позиции
                в данной сфере. Результаты нашей работы позволяют поддерживать долгосрочное сотрудничество,
                находя положительный отклик у заказчиков.
            </div>
    {% endblock %}