{% extends 'mainapp/base.html' %}
{% load staticfiles %}

    {% block content %}
        <div class="contentHeader newProductsHeader">
            Вопрос - ответ
        </div>
        <div class="row">
            <div class="containerText">
                <p><b>Какая основная обязанность у стюарда? </b></p>
                <ul>
                <li> Основная обязанность контролера-распорядителя — это проверка билетов и рассадка зрителей. </li>
                </ul>
                </p><br>
                <p><b>Обязательно ли работать на всех мероприятиях, которые Вы предлагаете? </b></p>
                <ul>
                <li>Не обязательно. Мы предлагаем подработку для студентов, которая позволяет совмещать учебу с получением заработка. Поэтому мы предлагаем Вам работу, а Вы строите свой график на основе личных возможностей. </li>
                </ul>
                </p><br>
                <p><b> Когда выдается зарплата? </b></p>
                <ul>
                <li> Зарплата выдается в первых числах следующего месяца. Мы выделяем несколько дней для того, чтобы Вы смогли приехать и забрать деньги.
                Заранее мы оповещаем Вас о датах и времени выдачи зарплаты в офисе. При себе необходимо обязательно иметь паспорт.
                </li>
                </ul>
                </p><br>
                <p><b>Много ли мероприятий в месяц?  </b></p>
                <ul>
                <li> Это зависит от месяца. Мы работаем на различных объектах, поэтому количество мероприятий постоянно увеличивается.  </li>
                </ul>
                </p><br>
                <p><b>Какая форма одежды у стюарда?  </b></p>
                <ul>
                <li> Стюард — это первое лицо, с которым встречается зритель на мероприятии. Поэтому он всегда должен выглядеть опрятно и аккуратно. Стандартный вид контролера-распорядителя — темный низ, светлый верх. Не должно быть спортивных вещей и белой спортивной обуви. На некоторых мероприятиях требованием является строгий классический вид. </li>
                </ul>
                </p><br>
                <p><b>Почему мы собираемся за три часа до мероприятия?  </b></p>
                <ul>
                <li> Контролер-распорядитель в обязательном порядке до начала работы должен пройти инструктаж, который проводят старшие распорядители, и внимательно ознакомиться с рабочим местом.  </li>
                </ul>
                </p><br>
                <p><b>Если мои друзья хотят устроиться к Вам, что им нужно сделать?  </b></p>
                <ul>
                <li> Оставьте им наши контакты (<a href="http://стюарды.рф" target="_blank">сайт</a>, телефон, почту). Они могут связаться со специалистами отдела кадров, которые запишут их на собеседование. Пройдя собеседование, Ваши друзья смогут приступить к работе стюардом. </li>
                </ul>
                </p><br>
            </div>
        </div>
    {% endblock %}