{% extends 'mainapp/base.html' %}
{% load staticfiles %}


    {% block content %}
       <div class="contentHeader newProductsHeader">
                    Вакансии
        </div>
        <div class="containerText">
            <div> <strong> Вы можете подать <a href="anketa.html#anketa">заявку</a> на одну из следующих доступных вакансий:</strong></div> <br>
           <p class="fa fa-bullhorn"><b> Распорядитель входной зоны на территорию спортивных комплексов.</b></p>
           <p>Основные обязанности:<br>
            <ul>
            <li> осуществлять проверку билетов, абонементов и аккредитаций, в том числе их подлинность;</li>
            <li> пресекать попытки прохода на территорию стадиона лиц без билетов или иных документов, предоставляющих право прохода;</li>
            <li> ориентировать зрителей относительно объектов, находящихся на территории спортивных комплексов.</li>
            </ul>
            </p><br>

            <p class="fa fa-bullhorn"><b> Распорядитель на парковках спортивных комплексов </b></p>
           <p>Основные обязанности:<br>
            <ul>
            <li> осуществлять проверку автопропусков; </li>
            <li> помогать зрителям, прибывшим на автотранспорте, правильно располагать его на парковках; </li>
            <li> оказывать помощь и не оставлять без внимания посетителей, столкнувшихся с проблемой въезда, выезда или парковкой автотранспорта. </li>
            </ul>
            </p><br>

            <p class="fa fa-bullhorn"><b> Распорядитель при входе на стадионы и спортивные комплексы </b></p>
           <p>Основные обязанности:<br>
            <ul>
            <li> осуществлять проверку билетов, абонементов и аккредитаций, в том числе их подлинность; </li>
            <li> обеспечивать эвакуацию зрителей после окончания мероприятия; </li>
            <li> ориентировать зрителей относительно расположения различных секторов и трибун, а также расположения карет скорой помощи и комнат полиций. </li>
            </ul>
            </p><br>

            <p class="fa fa-bullhorn"><b> Распорядитель при входе в люки:</b><br>
            <ul>
            <li> осуществлять проверку билетов, абонементов и аккредитаций, в том числе их подлинность; </li>
            <li> ориентировать зрителей по трибуне в соответствии с билетами;  </li>
            <li> не допускать скопления людей в проходах; </li>
            <li> не допускать переполнения секторов;  </li>
            <li> обеспечивать беспрепятственную эвакуацию зрителей </li>
            <li> оказывать зрителям помощь при занятии (поиске) своих мест. </li>
            </ul>
            </p><br>

            <p class="fa fa-bullhorn"><b> Распорядители на переходных калитках с сектора на сектор: </b><br>
            <ul>
            <li> осуществлять контроль прохода через калитку; </li>
            <li> контролировать поведение зрителей в течение всего матча. </li>
            </ul>
            </p><br>

            <p class="fa fa-bullhorn"><b> Контролер-распорядитель на осмотре: </b><br>
            <ul>
                <li> осуществлять личный осмотр зрителей и находящихся при них личных вещей при их входе в места проведения официальных спортивных соревнований. </li>
            </ul>
            </p><br>
        </div>
    {% endblock %}